<section class="col-sm-3 left_side_url">
    <h4>My Account</h4>
    <aside>
        <p><a href="{{path ('client_command')}}">My command</a></p>
        <p><a href="{{path ('wishlist')}}">Wishlist</a></p>
        <p><a href="{{path ('address')}}">Address</a></p>
        <p><a href="{{path ('myprofile')}}">Personal data</a></p>
    </aside>
</section>