{% extends 'base.html.twig' %}

{% block title %}Address{% endblock %}

{% block navbar %}
{% endblock %}

{% block body %}
<main class="container py-5">
    <div class="row">
    
    </div>
</main>
{% endblock %}

{% block footer %}
{% endblock %}
