@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* hOVER BUTTON
.hero_btn:hover{
    color: white;
    box-shadow: 
    inset -5.5em 0 0 0 var(--button_colors),
    inset 5.4em 0 0 0 var(--button_colors);
} 
transition: all .5s;
*/

/* Variables */
:root{
    --button_colors: #FFA500;
    --main_color: #F3F3F3;
    --product_card_color: #bfbebe29;
    --promo_color: #fb0000;
    --footer_color: #201C1C;
}

/* GENERAL CLASSES */
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

.heart_icon{
    color: #ff0303;
}

h2{
    font-weight: 600;
    color:#000000d2;
}

.product_section h2,
.brand_myshoes h2,
.newsletter_myshoes h2{
    text-align: center;
    padding: 20px 0px;
}

.brand_myshoes.general_container,
.newsletter_myshoes.general_container{
    height: 35vh;
}

a,
ul,
li{
    color: #000000;
    text-decoration: none;
    background-color: transparent;
    list-style: none;
}

.fluid {
    max-width: 100%;
    height: auto;
}

.myshoes_btn{
    border: .5px solid #0000007b;
    position: relative;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    transition: 0.35s;
    text-transform: uppercase;
    font-weight: bold;
}

a:hover{
    text-decoration: none;
    color: #000000;
}

.icons{
    font-size: 20px;
    text-align: center;
}
.general_container{
    width: 100%;
    padding-right: 4rem;
    padding-left: 4rem;
    margin-right: auto;
    margin-left: auto;
}


/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    
    border-radius: .5rem;
    background-color: hsl(19, 8%, 75%);
}

::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: hsl(19, 8%, 65%);
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(19, 8%, 55%);
}

/*=============== GENERAL STYLING ===============*/


/* In the end I changed the following css entry in bootstrap.css */

textarea:focus,
.form-control.is-invalid :focus, 
.was-validated .form-control:invalid:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: black;
    box-shadow: none;
    outline: 0 none;
}


/**===== NAV BAR ======**/
/* NAVBAR */

.myshoes_first_nav {
    position: relative;
    height: 5rem;
    background: var(--main_color);
    display: flex;
    justify-content: space-between;
    align-items:center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 8px;
}

.myshoes_nav_items{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.logo{
    font-weight: 800;
    font-size: 20px;
}

.myshoes_search_bar{
    position: relative;
    display: flex;
    justify-content: center;
    width: 90%;
}
.myshoes_search_nav{
    width: 60%;
    height: 2.5rem;
    border-radius: 5px;
    border: .5px solid rgb(143, 143, 143);
    padding: 10px 60px 10px 10px;
}

.myshoes_nav_search_button{
    position: absolute;
    height: 2.5rem;
    border-radius: 5px;
    background: var(--button_colors);
    border: .5px solid rgb(143, 143, 143);
    width: 8%;
    right: 172px;
}

.myshoes_nav_items ul,
.second_nav_myshoes ul{
    display: flex;
}

.myshoes_nav_items ul li{
    margin: 0px 20px;
}

.myshoes_nav_items ul li i{
    font-size: 25px;
    margin-top: 13px;
    transition: ease-out .3s;
}

/* dropdown_user styles */
.dropdown_user {
    position: relative;
    cursor: pointer;
    transition: ease-out .9s;
}

.myshoes_nav_items ul li i:hover{
    color: var(--button_colors);
}

.dropdown_user ul {
    position: absolute;
    flex-direction: column;
    margin: 10px 0 0px 0;
    padding: 20px 0;
    width: 160px;
    left: 50%;
    margin-left: -80px;
    z-index: 999;
    /* opacity: 0; */
    box-sizing: border-box;
    background: var(--product_card_color);
    border-radius: 6px;
    list-style: none;
    transform: scale(0) translate(-10%, -10%);
    transition: ease-out .5s;
}

/* dropdown_user triangle */
.dropdown_user ul::before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    top: -10px;
    left: 50%;
    margin-left: -10px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent var(--product_card_color) transparent;
}

.dropdown_user ul li{
    margin: 0px !important;
}

.dropdown_user ul li a:link,
.dropdown_user ul li a:visited {
    display: inline-block;
    transition: ease-out .7s;
    padding: 10px 0.8rem;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
}

.dropdown_user ul li a:hover {
    background-color: var(--button_colors);
    color: #ffff;
}

.dropdown_user:hover ul{
    opacity: 1;
    transform: scale(1) translate(0%, 0%);
}

.cart_number{
    position: relative;
}

.cart_icon{
    /* color: white; */
    position: relative;
}

.cart_data{
    position: absolute;
    top: -15px;
    left: 16px;
    font-size: 15px;
    color: #fff;
    background-color: var(--button_colors);
    border-radius: 50%;
    display: inline-block;
    padding: 0.1px 6px;
}

.second_nav_myshoes{
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 8px;
}

.second_nav_myshoes ul{
    padding-top: 10px;
    justify-content: center;
}

.second_nav_myshoes ul li a{
    position: relative;
    margin: 0px 30px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    transition: all .5s;
}

.second_nav_myshoes ul li a::before{
    position: absolute;
    content: '';
    display: inline-block;
    border: 1px solid var(--button_colors);
    opacity: 0;
    bottom: -2px;
    width: 100%;
    transition: ease-in-out .5s;
}

.second_nav_myshoes ul li a:hover{
    color:rgba(0, 0, 0, 0.311);
}

.second_nav_myshoes ul li a:hover::before{
    opacity: 1;
}


/* =========================*/
        /** HOME PAGE **/
/*===========================*/

/**===== HERO SECTION ======**/
.hero_myshoes{
    position: relative;
    height: 80vh;
    background-position: cover !important;
    background-size: cover !important;
    object-fit: cover !important;
}

.hero_btn{
    position:absolute;
    bottom: 30px;
    right: 190px;

    padding: 20px 40px;
    transform: translate(.9 ease);
}

.hero_btn:hover{
    color: white;
    box-shadow: 
    inset -5.5em 0 0 0 var(--button_colors),
    inset 5.4em 0 0 0 var(--button_colors);
}

/* ADVERT */
.advert_myshoes{
    position: relative;
}
.advert_myshoes::before {
	content: '';
	position: absolute;
    z-index: -1;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#B7550E, #B7550E);
	clip-path: circle(30% at right 70%);
}

.advert_myshoes::after {
	content: '';
	position: absolute;
    z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#E55D87, #5FC3E4);
	clip-path: circle(20% at 10% 10%);
}

.advert_info{
    padding: 50px 70px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.advert_description{
    display: flex;
    padding-top: 20px;
}

.advert_description .advert_icon{
    margin-right: 20px;
}

.advert_icon i{
    display: inline-block;
    background: var(--button_colors);
    padding: 15px;
    font-size: 30px;
    border-radius: 5px;
}

.advert_description p{
    padding-top: 10px;
}


/**===== TRENDING PRODUCT SECTION ======**/
/* PRODUCT */
.product_section{
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    flex-direction: column;
    max-height: 150vh;
    width: 100%;
    padding-right: 4rem;
    padding-left: 4rem;
    margin-right: auto;
    margin-left: auto;
}

.myshoes_product {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.product_card {
    position: relative;
    width: 15rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: .25rem;
    transition: .3s ease-in-out;
    overflow: hidden;
}

.card_image{
    position: relative;
    height: 20rem;
    background: var(--product_card_color);
    border-radius: .25rem;
    transition: .4s ease-in-out;
    z-index: 1;
}

.text {
    position: absolute;
    bottom: -15px;
    left: 0;
    background: #fff;
    transition: .4s ease-in-out;
    font-size: 15px;
    opacity: 0;

}

.product_card:hover .card_image {
    transform: translateY(-2vmin);
    margin-bottom: 1em;
}

.product_card:hover .text{
    opacity: 1;
}

.card_image .fa-heart{
    position: absolute;
    display: inline-block;
    padding: 5px;
    margin-top: 9px;
    right: -1px;
    z-index: 9999;
    background: #ffffff;
    font-size:30px;
}

.product_img{
    margin-top: 60px;
    height: 180px;
    width: 180px;
}

.card_image .promo{
    position: absolute;
    font-size: 13px;
    padding-left: 5px;
    bottom: 0;
    color: var(--promo_color);
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid var(--promo_color);
    
}

.card_image .promo span{
    background: var(--promo_color);
    color: #fff;
    display: inline-block;
    margin-left: 5px;
    padding: 5px;
}

/**===== Marks SECTION ======**/

.brand{
    display: flex;
}

.brand a{
    display: flex;
    justify-content: center;
    width: 100%;
}

.brand a img{
    width: 50%;
}

/**===== Newsletter SECTION ======**/

.newsletter_myshoes p{
    text-align: center;
}

.newsletter{
    text-align: center;
}

.newsletter_input {
    padding: .8rem 1rem;
    width: 40%;
    border-radius: 5rem;
    outline: none;
    border: .1rem solid #d1d1d1;
    font-size: .7rem;
}

::placeholder {
    color: #d1d1d1;
}

.newsletter_btn {
    padding: .8rem 2rem;
    border-radius: 5rem;
    background: linear-gradient(90deg, #ff9966, #ff5e62);
    color: #fff;
    font-size: .7rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.6s;
}

.newsletter_btn:hover{
    border-radius: 5rem;
    box-shadow: 
        inset -5.3em 0 0 0 var(--button_colors),
        inset 5.3em 0 0 0 var(--button_colors);
}

/* =========================*/
        /** MEN'S PAGE **/
/*===========================*/

.breadcrumbs-two .breadcrumbs-img{
    /* background-image: url(../image/coverpage/cover-img-1.jpg); */
    background-image: linear-gradient(90deg, rgba(0, 0, 1, 0.6) 100%, rgba(0, 2, 3, 0.491) 100%, rgba(0, 0, 0, 0.45) 100%);
    height: 300px;
    padding: 4em;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    position: relative;
}

.breadcrumbs-img h2,
.breadcrumbs-img h2 a {
    font-size: 20px;
    width: 100%;
    color: #ffff;
    text-align: center;
}


/* =======================================================
  * 	FILTER (SIZE, CATEGORY, ETC) SECTION
* ======================================================= */

.side {
    padding: 1em;
    width: 100%;
    float: left;
}

.myshoes_search_product fieldset {
    border: none;
}

.accordion-item {
    color: var(--bs-accordion-color);
    background-color: var(--bs-accordion-bg);
    border: none !important;
}
.accordion-button:not(.collapsed) {
    color: #000 !important;
    background-color: transparent !important;
    box-shadow: none !important;
}

.accordion-button:focus {
    z-index: 3;
    border-color: none !important;
    outline: none !;
    box-shadow: none !important;
}

input[type=checkbox] {
    accent-color: red;
}

.side h3 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
}


.side ul,
.side ul li {
    padding: 0;
    margin: 0;
}

.block-26 ul li {
    margin-bottom: 5px;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    float: left;
    display: table;
    text-align: center;
    background: #cccccc;
    border-radius: 2px;
}

.block-26 ul li a {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    padding: 0;
}

.block-26 ul li a:hover {
    background: #616161;
}



/* =======================================================
  * 	PRODUCT SECTION
* ======================================================= */

.col-lg-4 .all_product{
    display: flex;
    justify-content: space-between;
}

/* ==================== MEN'S PAGE ENDS   =========================*/

/* =======================================================
  * 	PRODUCT DETAIL (PRODUCT PAGE DETAIL) SECTION
* ======================================================= */

.image_detail_product{
    background-color: #61616168;
    padding: 20px 0px;
    border-radius: 10px;
}

.rating .fa-star{
    color: #FFC123;
}

.product-detail-wrap .quantity-left-minus {
    border: 1px solid #e6e6e6;
    padding: 15px;
}

.product-detail-wrap .quantity-right-plus {
    border: 1px solid #e6e6e6;
    padding: 15px;
}


.detail_panier_button a{
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 10px 30px;
}

.detail_wishlist_button button{
    background-color: #fff;
    color: #000;
    width: 100%;
    padding: 10px 30px;
    border: none;
}

.detail_wishlist_button button i{
    font-size: 25px;
}

.text_edit{
    text-align: justify;
    text-indent: 60px;
}

/* =======================================================
  * 	ADRESSE PAGE
* ======================================================= */

.addrese_delete,
.addrese_modify{
    border: 1px solid rgba(65, 65, 67, 0.63);
    display: block;
    margin: 0px 3px;
    padding: 10px;
    transition: ease-out .3s;
}

.addrese_delete{
    color: red;
    font-size: 20px;
    
}

.addrese_delete:hover,
.addrese_modify:hover{
    background-color:rgba(146, 144, 144, 0.726);
    border: none;
}

a.addrese_delete:hover{
    color: red;
}

.addrese_modify{
    text-transform: uppercase;
    font-weight: 700;
}

/* =======================================================
  * 	VALIDATE COMMANDE PAGE
* ======================================================= */

fieldset {
    border: #403f3fec solid 1px;
    border-radius: 1em;
}

legend {
    transform: translatey(-130%);
    width: max-content;
    padding: 0 0.15em;
    background-color: #fff;
}

#commande_adresse{
    display: flex;
    flex-direction: column;
}

.sous_title{
    position: relative;
    margin-top: 20px;
}
.btn_commande{
    position: absolute;
    bottom: 30px;
    left: 34%;
}


/* =======================================================
  * 	COMMAND PAGE
* ======================================================= */

.a_command{
    position: relative;
    border-radius: 15px;
    padding: 50px 0px 20px 40px;
}

.a_command .command_number{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0;
    top: 0;
    border-radius: 15px 15px 0px 0px;
}

.detail_facture a,
.detail_facture button{
    font-size: 13px;
    border: none;
    padding: 10px;
    width: 100%;
    text-align: center;
    border-radius: 8px;

}


/**===== FOOTER SECTION ======**/


footer.footer_myshoes{
    padding-top: 50px;
    flex-grow: 1;
    flex-basis: 0;
    height: 100%;
    color: #ffff;
    margin-top: 20px;
    background-color: var(--footer_color);
}

.footer_myshoes .footer_container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding-right: 4rem;
    padding-left: 4rem;
    margin-right: auto;
    margin-left: auto;
}


.footer_container .footer_services h4{
    font-size: 17px;
    font-weight: 700;
}

.footer_container .footer_services p{
    margin-bottom: 0rem !important;
}

.footer_container .footer_services p a{
    color: #fff;
    font-weight: 100;
    font-size: 13px;
    transition: all 0.5s;
    
}

.footer_container .footer_services p a:hover{
    color: rgb(174, 168, 168);
    
}

.follow_us p{
    padding-top: 10px;
    font-size: 10px;
}

.follow_us a{
    margin-right: 10px;
    
}

.follow_us a i{
    background-color: #fff;
    margin-top: 10px;
    display: inline-block;
    padding: 8px;
    font-size: 20px;
    border-radius: 50%;
    transition: ease-in-out .5s;
}

.follow_us a i:hover{
    color: #ffff;
    background: #0000;
    border: 3px solid #ffff;
}

.myshoes_copyright.footer_container{
    padding-top: 5px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    color: #ffff;
}

.myshoes_copyright .copyright,
.myshoes_copyright .payment_accept{
    width: 100%;
}

.myshoes_copyright .copyright p{
    font-size: 10px;
    font-weight: 100;
}

.myshoes_copyright .payment_accept{
    display: flex;
    justify-content: flex-end!important;
}

.myshoes_copyright .payment_accept p{
    font-size: 10px;
    margin-right: 10px;
}

.myshoes_copyright .payment_accept .payment_accept_img{
    width: 50%;
}

.myshoes_copyright .payment_accept .payment_accept_img img{
    width: 40px;
    height: 30px;
    margin-left: 10px;
}