{% extends 'base.html.twig' %}

{% block title %}Hello ContactUsController!{% endblock %}

{% block navbar %}{% endblock %}

{% block body %}
{% for notice in app.flashes('message') %}
    <p class="bg-success text-white">{{ notice }}</p>
{% endfor %}
{{form(form)}}
{% endblock %}

{% block footer %}{% endblock %}