{% extends 'base.html.twig' %}

{% block title %}
MyShoes | General Terms and Conditions
{% endblock %}

{% block body %}

    <div class="container py-5 px-4">
        <h1>GENERAL CONDITIONS OF USERS</h1>

        <h2>Clause n° 1 : Collecting User's Information</h2>
        <p class="text-justify">For the creation of the User's account, the collection of information at the time of registration on the site
            is
            necessary and obligatory. In accordance with the French Data Protection Act n°78-17 of January 6
            and
            personal information is collected and processed with due respect for privacy.
            privacy.
    
            In accordance with the French Data Protection Act of January 6, 1978, articles 39 and 40, the User is entitled to
            right
            to access, rectify, delete and oppose their personal data. This right can be exercised
            by writing to :
        </p>
        Contact form ;<br>
        User's profile.<br>

    </div>
{% endblock %}