{% extends 'base.html.twig' %}

{% block title %}Payment Fail!{% endblock %}

{% block body %}

<div class="container py-5">
    <h2>Erreur de paiment</h2>
    <p>
        Bonjour,<br><br>
        Il semblerait que votre paiement est échoué pour votre commande numero <strong> {{command.reference}} </strong>. <br>
        Une confirmation d'erreur vient de vous être envoyée par email a l'adresse <strong> {{command.user.email}} </strong>
        <hr>
    </p>
    <a href="{{ path('command')}}">Réessayer le paiement</a>
</div>

</div>
{% endblock %}
